   <%= notice%>
    <% if current_user %>
    <%= image_tag(@user.profile_image_url).html_safe %>  
  <br />
  
  <a href="" id="showSimpleModal" class="super black button">
			<span>Welcome <%= @user.name %></span>
	</a>
  <br /><br />
  <a href="/play" id="showSimpleModal" class="super green button">
		<span>Play</span>
	</a>
	<br /><br />
  <a href="" id="showSimpleModal" class="super green button">
		<span>Filtered</span>
	</a>
	<br /><br />
  <% client.trends().each do |key| %>
  	<% if /^\#/ =~key %>
  	<a href="/trend/#{key[1..-1]}" id="showSimpleModal" class="super blue button">
			<span><%= key %></span>
		</a>
  	<% else %>
  	<a href="/trend/#{key}" id="showSimpleModal" class="super blue button">
			<span><%= key %></span>
		</a>
  	<%end%>
  	<br />
  <% end %>
  
<% else %>
	<a href="/auth/twitter" id="showSimpleModal" class="super green button">
		<span>Sign In</span>
	</a>  
  <% end %>
