<!DOCTYPE html>
<html>
	<head>
		<title>Twitter Classifier</title>
		<%= csrf_meta_tag %> <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %> <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
		<%= javascript_include_tag 'jquery-1.6.4.min.js'%>
	</head>
	<body>
		<script type="text/javascript">
			$(document).ready(function(){
			$("#showSimpleModal").click(function() {
			$("div#simpleModal").addClass("show");
			return false;
			});
			$("#closeSimple").click(function() {
			$("div#simpleModal").removeClass("show");
			return false;
			});
			});
		</script>
		<div class="container">
			<header>
				<a href="" id="showSimpleModal" class="super green button">
					<span>About</span>
				</a>
				<nav class="round">
					<ul>
						<li>
							<a href="/" id="showSimpleModal" class="super green button">
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="/play" id="showSimpleModal" class="super green button">
								<span>Play</span>
							</a>
						</li>
						<li>
							<% if current_user %>   
							<a href="/signout" id="showSimpleModal" class="super green button">
								<span>Logout</span>
							</a>
							<% else %>  
							<a href="/auth/twitter" id="showSimpleModal" class="super green button">
								<span>Sign in</span>
							</a>  
							<% end %>
						</li>
					</ul>
				</nav>
			</header>
			<section class="round">
				<%= yield %>
			</section>
		</div>
		<div id="simpleModal" class="modal">
			<h3>What am i playing.</h3>
			<p>This is an academic project.</p>					
			<a href="" class="super green button" id="closeSimple"><span>OK</span></a>
		</div>
	</body>
</html>